services:
  postgres:
    image: postgres:17
    restart: always
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: app_db
    ports:
      - "54323:5432"
    volumes:
      - pg_data:/var/lib/postgresql/data

  api:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "3000:4000"
    depends_on:
      - postgres
    environment:
      - DB_HOST=postgres
      - DB_PORT=5432
      - DB_NAME=app_db
      - DB_USER=user
      - DB_PASSWORD=password
    command: sh -c "npm run migration:up && npm run start:dev" # Or 'npm run start:prod' for production
    # If using migrations with TypeORM/Prisma, you might add a command like:
    # command: sh -c "npm run migration:run && npm run start:dev"

volumes:
  pg_data:
